.container{
    position: absolute;
    top: 40%;
    left: 30%;
    background-color: gray;
    padding-left: 13%;
    padding-right: 13%;

}
#btn{
    padding: 1% 10%;
    position: relative;
    left:33%;
    bottom: 10%;
}